@import "twbs-variables";
@import "twbs/bootstrap/mixins";

html,
#homepage {
  height: 100%;
}

#homepage {
  padding: 0;
  .alert {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 15px;
    min-width: 200px;
  }
}

#splashscreen {
  position: relative;
  display: table;
  @include size(100%, auto);
  height: auto;
  /*background: lighten($brand-primary, 20%) asset-data-url("noise.png");*/
  background: #E84E41 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlQTFRFAAAAICAgNTU1SUlJWVlZZ2dndXV1hISEkZGRnp6eqqqqtra2wcHBzc3N2dnZ4%2BPj7u7u%2BPj4%2F%2F%2F%2FbPliiAAAABN0Uk5TCAgICAgICAgICAgICAgICAgICGydQU0AAA73SURBVHjaxVvJdts8syyg524MFN%2F%2FYe8ivF%2FsxJYpZfHvc3JkolFdE5Cdj%2BmVRDsw9FErvAnOhCRX1vbOPkc0Xs4GaAw%2BY5JH1CknTKDZxgwxC4RSWrfGmdFi6WoAkg6UGgkwLYNHdeGlEuJjgJwEOJKkjQEe3cpOIHt4qQj10YJcd1Acm5VlKVprzsho0Hb0o0VuM%2BcREmPq9M0KCgrgpP3QlSMj3dTISqgpRbAyyocpoJilciZFTDgc6lZUoOwkyCkICJN6F0EzW1zahwcig5BqsKGkHTxD%2BBTnrVWCyuATtVtNKQ81z%2Bk1eMPzXKkplHBG06WPKurtUNkVsXEc0ilp9FlMw1Yl0OHVm%2FVaU7NUppqfFqhwabyz%2BQEhh7ry1If3lmrYkqPyCAvvDzlx1vB6FGkSrfDBW5E9yYUTYqNVP01pahYR4lGU05YzSSGMGzHygS3JyWyEs1vFOIc7cSPWzEQSsWR4uqlVWIF8bje14TK2nx6YMXessQK50Xba1JAYzlynERpaNhrDJHMGY8HcaywnTjkkAyOqGdjJheiknBEO7quI9iGTQHa26TrHcdiMQiOpAbUYlc4aIaKIYawB82LVaLZ1nLMQLkWtIA70DpboYLVwEZahiemn%2B4SXNB%2Bh5It5nT28DhkcMWTHETBP0qSVklMOGTNaSrKoc3AsiOcG4Ki74965zDyjhpD14eKtHPZ03Oc17jJM8fu6teu6rRMDqV2NsFZCetVOGMuRDhrNw30VAko1TVpG%2BMjAbm2WRefJxbQ9RtqDy2PsCYwV4ZpGbVRSQ5MgVO8tERWTRnm6opDDEAiXxiAIfBEEWJ2nH22oBGqcEsZLlJXSJguZSjXP5sV7gDNVVJR22SR6QHOq2Gg9Di52n%2BxkYbLgmZ3DTGKcxnTqbOJDIOZyuEIUuWi2UQ5yyopEF%2BHd%2FFjnHJ4mHiZhcYyMB%2BLX%2FIdv00ODRpzOAiU6ZolJG9Ea7woIZ2vaZYq6RIOz2F5zIIGA2KnOBzsS2JOM2lizLUKj062hkSwOTcOyKpHaMJ8K0TrypPv3RY1zhItXU0ITag28Ud9dcAyh2Jy5Z%2BBYDqkkVSXpOSxcuXKc%2B9MFP64L3pG1vgcYvgBmkAhY0EQiWZxNmzvXdgq3yd7aQ0J7n3YIkWJPxeruiinDUyiCBlaPlBkRwms2BSqTiVGzMCzduRkRc9IRChUVyViH7MEEh%2BhcSj0KUinaox6UCKGQtoWOqQG4jrAxF8mQMs%2FVV0%2FzKDWDF2qWeYyjlqWyNUIJQ1d2PxZCuqy1BM3VOpCHzBG%2BUnwYHkSmkEGq02aROlrfoYydMDkihAiLPIwH2aaJvYxWwnjoWgGQt3MxGGGbaW7Zs9oDkK2K9RiZguBIPCxhknzEsnN43wbASTYiI1g7566VjTbbrNlycKZZr%2BGNEDymrhairD7KTx2r1uQBsq3JU91DGupQFog3jKjUqaV9kFJmbw5fkpYSTonVYinc3Qnqodm5GoR5cMe51YpuoIwZA4N3VBl2JAmKWeAaGXKoFZccPUcgWKbZGLQ3JFbBegusVgODekDkQUKEU1Z4ZgtD2mktQkCpVRoFbhQ%2Bh1ISMlb4j0MyzmXTOoO3ZBsiXKdrtDgsdAXkjcH7%2BH%2FeHbx5DZ76WPMafIUo5jsr8AMLur0Cx7UCCZD5awWr7YH9PhkSEsiLZEg1iTJ88G5CSyfyOeWzkpgRs6SpsSk0pIdGDjAyjscXlE8vyhfwk76inHZRzkQK2mIXHxxQdYS%2FyvGaNCZx6bzAgPOMiRA07zZjzHZISLbiypI52Uak1hzjMQ3HTIh5mwN9dIJ7LhCFSUq33vLxM99BN60YdNoURZBJ0T4TMooFqR3c3F0pz3BZ8N1Ol17pYR0IxA0a%2Feyb%2FssAuzAAHc1X7MPmOscSUwWdgGcfAy3J0RoMcRJgPcuQ1lNCsaIEBW9hKURMiJylYsdwBkEOzPZQN3IbYv1xLJ8BXQlq68TRfQNRA9QzRtT0AEpeWy8UGzS0JZ8TBLMOTIFGNSyNGkPhTYWFe8zUrnKWu9k0s2wH5OPFfIMb352Vj8DgFzAQRCAfyEVZkFVmhh09AtCcAp02jxndEeoNcbRSsIzIacy31Msf5GZe5CZIDmTu1q0jBMNDo3jUiaI8xFugZeZjPCpRxcI428S5UVEg8lB%2Bwta4IKO7O1jguTatgjPQXMx4DfEO7Ddo9bpo9TR8t%2FDoWnjZW8ifC5euhUtWA36TfH735zwjn3KRTwWnfyC%2FepHfPRsD38JF%2Bw0XQt%2FClcDVQdJjsrOipdGQmEj18CE0MkGf4covuGoQh38iS3qRpTII3SJr3ksgUIcojghYpaa4589kjTIZKcE%2BIO86NZ1WNZWXnJr85dRsF3bQjyz%2B%2BUX7JJNu2gR0qYg5dwO9CwCKstnoJQC41M1xqRu4DtirbGJdbOKydp6t3eNau3nM4V%2Bs%2FdwZyJc9rs%2Biv9voJsWUkTS1Rw3pus9Egw0NxuM8MzqlhGSnGBEPhGTAsY4JA1qfBNYA5UMITmSjm%2Bic2o%2FA80l%2Fh1IfF6XWokC8JgP%2BQsUbMuAvVFwXKu4GwP5jd1WJ7gGdj8jD%2B5zWua3iPBtmz%2Fhy8942FD%2Bwy3axy9mjgb4YrFdo8jt88rgGu%2BoBVLPHiD4LaIdToY5ZMUJ5Wo3JaTpAChHvzVzH0T0neriPU7rf9LKarfDpYgNgJrj4yPmojvVxT%2FK1J8m7tnt7%2Bh1XpV%2BLLcEH8L2CsjvWgdk0k2z0ArfTD9wO7SvbA7CZIlN66FSn1rliUNvm3OBG5BsJOcf8z%2Fagy%2FZQQsRz2yV%2B2y4A%2F4wbeuGGry%2B8%2BXPMJeJTHGCZZibaYOBBSkpBGRobXrkRrXcb3eLCrdCemH8bmS%2FlBk9%2B27eYmhemVkQgXo079hV3XEv8P6tGmllglsXsSImlTXdyIKoP0oZwLJtiwnj8WuJq0iE3zvnZN37HXsM1Z5RimN%2FJ3pvA%2BG7SYiVREYnIZqMpuA34epzMTaZ4cYqYS4Rz7orChGhMnqQhzOVYWgFpcD17qZRsrtBleWQrDVVHWmeXIOq1WB%2BZxN1ohqPB1kPmVug%2FHUDQO%2F7meV30LVNBL1PJz77fH55VEfOPC56vBc%2FqA%2BvFT862bTd1CqGxxrzzyXF98prbLZvxdeRYj415k%2F9%2FJ0Gf8f%2Fv7Aq69IfDT%2BQf7ver%2FPR2vPaBn%2BLip0bqGHfyWQ%2FhQyPNTBeYE%2BTjpBntvAtYH1VHXKojEoD%2BZbxFudcq6W7F0a2Nk3nMAyONmyLMUXVCxXuXL6nyD4wmLkbT1wwQOCTC3HhGdPFfy%2By24Huq3R%2FDXZp1WTYt2zCMwkNn11HbT3Q49A0E%2B2gcyhsml10mV4cLAoF%2FSe7eIdN%2BWQyOdPgSbxm%2BvQ0PAz9MlZFtNaVGmUxwQWkmUI%2ByrrOcl2hqsspC2YNVWVO1CbCpUEd3wDSmCyjcQ%2FDLUw1nnelM1IObuAJf%2FYvH9S9IPOj5L%2FwvQITDPUldhfhwtEgbpPjiF%2Fr1C7vGA6Cth1l0DosI1phoc0KaJUkclc8zkXeY9NE7pq%2Bw5cCuNZdXN7ScZXG48XA1RKQKyurkbu6qEE2ulAxksbq2c2XtWHO9GPvUFfvEqQm%2Fi5%2Ff%2BDe1%2Fewd9Mp1lus6gwbw1jfE9Q3X8ttqJC81Eo%2Fy8UsNUUGAt27%2Fb%2F70jsWNiz9pwRA%2FBTw%2FyBOV0y7r97Y8GZf17CsLcnH1Fz2G%2F7TCOzTKLq1w5ib0G77es7n8A%2Bbtgvmnc2nXXBarIN%2BRtx8G6llV4zuFMy6FMzYD%2FMY9%2Fhjf%2FgxVf8e3KWlbwi2x8HXBJlidbhV8%2FnDtojOArkKP7ws%2BehV8qDD%2B9y4Zf0126UD3O8H0B7J7W9%2FgItudS9D%2BbRnmG8uw4lrXEdNA%2F3QJz3j9EjrkWg4DLREfGC7PSdMlbSgT3HTD2JZ6knpyx2EjxlqaEcvXds%2FXG5AeYhfD9oWF9U0%2F6G4%2F7mM%2FSK9%2BkAFYT%2FpJefWT2jkLeCMl%2BaiS7qYkHw9yXAdJzTvWN92QuyTlYzdkX92Qn0hKXuBW3gB5PzZ2qNs7sbFe7c%2FB%2B8SMtZzjbWb4jsfaLlbTMBX8UzD4g2r4Mhj8oYmDSzXUKEBeV2OfBuumGvuEEPM3QhT8U8vrBbvzcmEkXRMjtbiN0L4RWt3S1%2FctM7laZsHNEN%2FbefS4kcm92vySZrYuO5FTAnqzgvedCfEOhtFVAazTBfQzcD0tVrKohNhLxcq6gBO2Bfv7RO5WcPJNIvc0OJErESQ5CfbGuX90Ze6e%2B0cbef6eu4b1IvT%2BqQ%2FvQO%2BfvDJ%2FQz8j7hRHn1hn70TOfFlnoxA4fq4Bj6sGDB%2F0Vw35z55zuWZC58EjnfYw7sQs0onItFJFxa4ackIb6OWk8HNH5x1BuS9DvlcK1o3G3DPj7mbG%2FeWNOpk61r8FJscbgQnlddOWQCA33c3vuN87%2BF3XX9fpAPBqg%2FGP83inc5DXefSNgn%2FVs3khDn3jUYa2q%2BdDooY51FImug4N5Zm0rEvx3Zbcq97ygC8xnx7RPE9g3GhAPqtilMdyP86mUdTGkZ4Ru2F4co18aGsh0gevMUXEmzTmq4GZAGO%2FOMF%2FztjtwtGHXdGvXcHGhPpldr1NS9%2BJ%2FnGZbbN3BrrKO5%2Fx%2F4usvy3L6rBqpn5kT8I0H5CMQVBfg485IeRzbOU1OVWo6RT4e%2F7kb%2BX0RtzgF8HtWom4%2FULsa43yzvMkuzSKaA%2FIvyU24x0q1S%2Bg86kGvedJf3vALzxF%2BI%2Fz6MV5Qq2D%2F02Z%2BTvtF7v85jndgX9qFYe93io%2B4G2dONJHDIO8bM5%2BLkvczLg%2FFTnkstaSckF%2B7M0%2BV3tf92af94Hi6gOVNwO98rTuC7%2F2x6d1X%2Fi142qk2I75v%2B%2BSycuh2x8u4q03eZ9dRPx2ER%2BIL96EvqJX773J%2B6xX69Kro4LAL1SyvxqtHzrMX3IrXNzKsRbmU%2B5CF3fhPCW%2B5E7v0Em7UH6MsyP%2BjY%2FEG3xkjku7Bo8F%2Bes95F2%2F8zp7y3b2qaPn6gkfEqLcn9oGdtkGtoswv0ZLutByx3j%2BBuSHE%2FqS3e4Lrc8DisfbiuDXon5NEfxa1HYt6qKU%2F3mb7v8AZ3zP8tlm75gAAAAASUVORK5CYII%3D);
  margin-bottom: 0;
  box-shadow: 0 3px 3px fade-out(black, 0.75);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    @include square(100%);
    content: "";
    background: radial-gradient(fade-out(black, 0.95), fade-out(black, 0.59), fade-out(black, 0.36));
  }
}

#splashscreen-container {
  position: relative;
  display: table-cell;
  @include square(100%);
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-shadow: 0 1px 1px fade-out(black, 0.1);

  h1,
  h2,
  a,
  small {
    color: white;
  }
  h1 {
    font-family: "Pacifico";
    font-weight: 400;
    margin: 10px 0 $line-height-computed;
    line-height: 34px;
    font-size: 50px;
    small {
      font-size: 30px;
    }
  }
  h2 {
    margin-bottom: $line-height-computed;
    letter-spacing: 0px;
  }
  .btn-why-facebook {
    text-decoration: underline;
  }
  .splashscreen-link {
    font-weight: 700;
    text-decoration: underline;
  }
}

.btn-learn-more {
  margin: 0 auto 15px;
  border: 2px solid fade-out(white, 0.75);
  color: white;
  background-color: fade-out(black, 0.85);
  &:hover,
  &:focus {
    border-color: fade-out(white, 0.6);
    color: white;
    background-color: fade-out(black, 0.65);
  }
  .fa {
    position: relative;
    transform: translate3d(0, 1px, 0);
    margin-left: 5px;
    animation: pulse-down 5s ease-in infinite;
  }
}

.btn-why-facebook {
  font-size: $font-size-small;
}

.featurettes {
  margin-bottom: $line-height-computed;
}

.featurette {
  padding: 20px 0;
  &:nth-child(even) {
    background-color: $flat-ui-clouds;
  }
  h3 {
    margin-top: 10px;
  }
  .container {
    max-width: $container-md;
  }
  .fa {
    display: block;
    float: left;
    font-size: 4em;
    margin-right: 20px;
    color: #E84E41;
  }
}

.learn-more-container {
  position: absolute;
  bottom: 0;
  left: 0;
  @include center-block;
  width: 100%;
}

.signin-terms {
  margin-top: $line-height-computed;
}

@media(min-width: #{$screen-sm-min}) {
  .btn-facebook {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
  }
  .btn-why-facebook {
    font-size: $font-size-base;
  }
  #splashscreen {
    height: 100%;
    min-height: 375px;
  }
  #splashscreen-container {
    padding-bottom: 62px;
    h1 {
      line-height: 44px;
      font-size: 70px;
    }
    h2 {
      line-height: 46px;
      font-size: 36px;
    }
    .btn-toolbar {
      position: relative;
    }
    .btn-why-facebook {
      position: absolute;
      top: 5px;
      font-size: $font-size-base;
    }
  }
  .featurette {
    padding: 60px 0;
    h3 {
      font-size: $font-size-h1;
    }
    p {
      font-size: 21px;
      font-weight: 300;
    }
    .fa {
      font-size: 10em;
      margin-right: 60px;
    }
    &:nth-child(even) {
      .fa {
        float: right;
        margin-right: 0;
        margin-left: 60px;
      }
    }
  }
}


@keyframes pulse-down {
  80% {
    transform: translate3d(0, 1px, 0);
  }
  85% {
    transform: translate3d(0, 5px, 0);
  }
  90% {
    transform: translate3d(0, 1px, 0);
  }
  95% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 1px, 0);
  }
}
